<section id="faqs-features-page" class="page faqs-features-page pb-0!">
    <section
        id="faqs-section"
        class="faqs-features-panel page-section"
        [ngClass]="{ 'md:flex-col! lg:flex-row!': !drawerService.isDrawerCollapsed() }">
        <div class="faqs-features-panel-primary">
            <div class="flex flex-col space-y-3 cursor-default!">
                <div class="w-fit rounded-xl px-2 py-1 bg-alternate-background border border-primary">
                    <p class="text-xs text-primary font-semibold shadow-xl">FAQs</p>
                </div>

                <h4 class="text-3xl md:text-4xl font-bold">Frequently Asked Questions!</h4>

                <div class="overflow-hidden w-3/4 mt-4">
                    <p class="overflow-hidden text-sm text-tertiary-dark text-ellipsis">
                        Find answers to common questions about Pocket Pilot, its features, and how to use it.
                    </p>
                </div>
            </div>

            <div class="flex flex-col space-y-6 w-full lg:w-3/4 overflow-hidden">
                <p class="text-sm text-tertiary-dark text-ellipsis">
                    Still need help?
                    <a routerLink="/support" class="text-primary hover:underline underline-offset-2 transition-custom"
                        >Fill in our form</a
                    >
                    or contact us directly via:
                </p>

                @for (contactItem of contactItems(); track contactItem.value) {
                    <div
                        class="w-fit flex flex-row items-center gap-2 group cursor-pointer hover:scale-[1.0025] transition-custom">
                        <div
                            class="size-8 grid place-items-center border group-hover:border-loader-primary bg-alternate-background rounded-lg transition-custom">
                            <lucide-icon [size]="iconSize" [name]="contactItem.id" [img]="contactItem.icon" />
                        </div>
                        <a
                            [href]="contactItem.link"
                            class="text-sm group-hover:underline group-hover:text-primary transition-custom">
                            {{ contactItem.value }}
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="faqs-features-panel-secondary">
            <div class="w-full flex-1 py-0 lg:py-6">
                <molecule-accordion id="faqs-accordion" [items]="faqItems" [defaultExpandedIndexes]="[0]" />
            </div>
        </div>
    </section>

    <section
        id="features-section"
        class="faqs-features-panel page-section flex-col-reverse pt-12 lg:pt-0"
        [ngClass]="{ 'md:flex-col-reverse! lg:flex-row!': !drawerService.isDrawerCollapsed() }">
        <div class="faqs-features-panel-secondary mt-4">
            <atom-tab-list
                [items]="tabItems()"
                [activeItem]="activeTabIndex()"
                (selectedIndex)="onTabSelected($event)" />

            <p class="text-sm text-tertiary-dark text-ellipsis mt-4">{{ featuresSubtitle() }}</p>

            @let error = hasFeaturesError();
            @let isLoading = isLoadingFeatures();
            @let count = displayFeatures().length;
            <div
                class="w-full flex-1 py-0 lg:py-6 flex flex-col space-y-4 mt-4 lg:mt-0"
                [ngClass]="{ 'grid place-items-center': isLoading || error || count === 0 }">
                @if (isLoading) {
                    <div class="layered-loader"></div>
                } @else if (error) {
                    <fetch-error
                        message="Failed to load feature requests."
                        [messageClass]="animationMessageSize"
                        [animationDimensions]="animationDimensions" />
                } @else {
                    @if (count === 0) {
                        <no-data
                            message="No feature requests found. Add one today!"
                            [messageClass]="animationMessageSize"
                            [animationDimensions]="animationDimensions" />
                    } @else {
                        @for (feature of displayFeatures(); track feature.id) {
                            <feature-item
                                [id]="feature.id"
                                [feature]="feature"
                                [showDeleteIcon]="activeTabIndex() == 1"
                                (onFeatureItemClick)="handleOnFeatureItemClick($event)" />
                        }
                    }
                }
            </div>
        </div>

        <div class="faqs-features-panel-primary">
            <div class="flex flex-col space-y-3 cursor-default!">
                <div class="w-fit rounded-xl px-2 py-1 bg-alternate-background border border-primary">
                    <p class="text-xs text-primary font-semibold shadow-xl">Features</p>
                </div>

                <h4 class="text-3xl md:text-4xl font-bold">Suggest a Feature!</h4>

                <div class="overflow-hidden w-3/4 mt-4">
                    <p class="overflow-hidden text-sm text-tertiary-dark text-ellipsis">
                        At Pocket Pilot, we're always looking for ways to improve and add new features to make your
                        experience better. If you have an idea for a new feature, please let us know.
                    </p>
                </div>
            </div>

            <div class="flex flex-col space-y-6 w-full lg:w-3/4 overflow-hidden">
                <div class="flex flex-col space-y-4">
                    <p class="text-sm text-tertiary-dark text-ellipsis">
                        You can support a feature by upvoting it or commenting on it. Can't see the feature you're
                        looking for?
                    </p>

                    <atom-button
                        variant="primary"
                        label="Suggest a Feature"
                        id="suggest-feature-button"
                        [disabled]="isLoadingFeatures()"
                        (clicked)="handleOpenFeatureForm()" />
                </div>
            </div>
        </div>
    </section>
</section>

@if (isFeatureFormOpen()) {
    <suggest-feature-form
        [isFeatureFormOpen]="isFeatureFormOpen()"
        (featureFormClosedEvent)="handleCloseFeatureForm($event)" />
}

@if (isFeatureModalOpen() && selectedFeature()) {
    <feature-details
        [feature]="selectedFeature()!"
        [onBackdropClickClose]="true"
        [featureId]="selectedFeature()!.id"
        (onFeatureModalCloseEvent)="handleOnFeatureModalClose()" />
}
