@reference "tailwindcss";

#form {
  @apply flex-1 grid place-items-center;

  .form-wrapper {
    @apply flex flex-col items-start w-3/4 xl:w-1/2;

    #login-form {
      @apply my-4 w-full;
    }
  }

}
