<section class="flex flex-row min-h-screen" id="login">

  <auth-branding class="flex-1" contentAlign="left" />

  <div id="form">
    <div class="form-wrapper">
      <div class="space-y-4">
        <h3>Welcome back,</h3>
        <p>Sign in to your account to continue</p>
      </div>

      <!--   FORM START   -->
      <form id="login-form">

        <div class="input-field">
          <label for="email">Email:</label>
          <input [formField]="loginForm.email" class="bg-alternate-background focus:outline-primary" id="email" placeholder="Email Address" type="email" />

          @if (loginForm.email().invalid() && loginForm.email().touched()){
            <div class="input-field-errors-wrapper">
              @for (error of loginForm.email().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <div class="input-field">
          <label for="password">Password:</label>
          <input [formField]="loginForm.password" class="bg-alternate-background focus:outline-primary" id="password" placeholder="Password" type="password" />

          @if (loginForm.password().invalid() && loginForm.password().touched()){
            <div class="input-field-errors-wrapper">
              @for (error of loginForm.password().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <button [disabled]="loginForm().invalid()" class="bg-primary text-inverted-text shadow-primary disabled:bg-primary/50" type="submit">
          Log In
        </button>

      </form>
      <!--   FORM END   -->

      <p (click)="routeToRegistration()" class="to-register-text text-muted hover:text-primary">Don't have an account? Sign Up</p>

      <div class="flex flex-row items-center gap-6 w-full text-sm my-10">
        <hr class="border-muted"/>
        <p class="text-muted capitalize">Secure Login</p>
        <hr class="border-muted"/>
      </div>

      <div class="two-factor-card border-primary">
        <icon-warning [size]="20"/>

        <div class="space-y-2">
          <p>Protected by two-factor authentication!</p>
          <p class="text-muted-text">
            Your account security is our priority. You may be asked to verify your identity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
