<div [id]="billItemId()" class="bill-item">
  <div class="group bill-item-logo">
    <div
      class="delete-wrapper"
      [ngClass]="{ 'grid!': isDeleting() }"
      (click)="deleteBillItem(billItem().id)"
    >
      @if (isDeleting()) {
        <div class="loader"></div>
      } @else {
        <lucide-angular name="delete-bill-item" [img]="trash" [size]="17"></lucide-angular>
      }
    </div>

    <lucide-angular name="bill-item-icon" [img]="sailboat" [size]="iconSize"></lucide-angular>
  </div>

  <div class="bill-item-content">
    <p class="bill-item-title">{{ billItem().name }}</p>
    <p class="bill-item-charge">
      Next billing date: <span class="font-bold">{{ formattedDate() }}</span>
    </p>
  </div>

  <div class="bill-item-amount">
    <p>{{ formattedAmount() }}</p>

    @if (billItem().currency !== currency) {
      <p class="bill-item-converted-amount">≈{{ covertedCurrencyAmount() }}</p>
    }
  </div>
</div>
