<section class="flex flex-row min-h-screen" id="register">
  <div class="animate-left flex-1" id="form">
    <div class="form-wrapper">
      <div class="space-y-4">
        <h3>Hello there,</h3>
        <p>Create a new account to continue</p>
      </div>

      <!--   FORM START   -->
      <form (submit)="submitRegistrationForm($event)" id="login-form">
        <div class="input-field">
          <label for="email">Email:</label>
          <input
            id="email"
            type="email"
            autocomplete="email"
            placeholder="Email Address"
            [formField]="registerForm.email"
          />

          @if (registerForm.email().invalid() && registerForm.email().touched()) {
            <div class="input-field-errors-wrapper">
              @for (error of registerForm.email().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <div class="input-field">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            autocomplete="username"
            placeholder="Username"
            [formField]="registerForm.name"
          />

          @if (registerForm.name().invalid() && registerForm.name().touched()) {
            <div class="input-field-errors-wrapper">
              @for (error of registerForm.name().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <div class="input-field">
          <label for="password">Password:</label>
          <input
            id="password"
            type="password"
            placeholder="Password"
            autocomplete="new-password"
            [formField]="registerForm.password"
          />

          @if (registerForm.password().invalid() && registerForm.password().touched()) {
            <div class="input-field-errors-wrapper">
              @for (error of registerForm.password().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <div class="input-field">
          <label for="password">Confirm Password:</label>
          <input
            type="password"
            id="confirm_password"
            autocomplete="new-password"
            placeholder="Confirm Password"
            [formField]="registerForm.confirmPassword"
          />

          @if (
            registerForm.confirmPassword().invalid() && registerForm.confirmPassword().touched()
          ) {
            <div class="input-field-errors-wrapper">
              @for (error of registerForm.confirmPassword().errors(); track error.kind) {
                <p class="input-field-error">{{ error.message }}</p>
              }
            </div>
          }
        </div>

        <atom-button
          id="register"
          type="submit"
          label="Register"
          [isLoading]="isSubmitting()"
          [disabled]="registerForm().invalid() || isSubmitting()"
        />
      </form>
      <!--   FORM END   -->

      <p (click)="routeToLogin()" class="form-redirect-text">Already have an account? Log in</p>

      <div class="secure-auth">
        <hr />
        <p class="text-muted capitalize">Secure Registration</p>
        <hr />
      </div>
    </div>
  </div>

  <auth-branding class="flex-1 hidden md:block animate-right" contentAlign="right" />
</section>
