<div class="flex flex-col h-full">
    <div class="card-header">
        <p class="title">Splitr Events</p>
        <p class="subtitle">Manage your splitr events</p>
    </div>

    @let hasNoData = splitrEvents().length === 0;
    @let centerContent = isFetchingEvents() || hasError() || hasNoData;
    <div
        [ngClass]="{ 'flex-1 grid place-items-center': centerContent }"
        class="card-content h-full overflow-y-scroll no-scrollbar mt-4 pb-2"
    >
        @if (isFetchingEvents()) {
            <div class="dashboard-card-loader"></div>
        } @else {
            @if (hasError()) {
                <fetch-error
                    [messageClass]="animationMessageSize"
                    [animationDimensions]="animationDimensions"
                    message="Error loading events. Please refresh the page."
                />
            } @else if (hasNoData) {
                <no-data
                    [messageClass]="animationMessageSize"
                    [animationDimensions]="animationDimensions"
                    message="You have no splitr events yet. Create one today!"
                />
            } @else {
                <div class="flex flex-col gap-4">
                    @for (event of splitrEvents(); track event.id) {
                        <splitr-event
                            [splitrEvent]="event"
                            (onSplitrEventClickEvent)="handleOnSplitrEventClick($event)"
                        />
                    }
                </div>
            }
        }
    </div>
</div>
