@reference "tailwindcss";

#background::after {
  inset: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(10px);
  position: absolute;
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.925);
}

#branding {
  @apply relative overflow-hidden flex-1 hidden md:block pointer-events-none text-white;

  #background {
    @apply absolute inset-0 z-[-2] w-full h-full bg-[url('/images/background.jpg')] bg-cover bg-center;
  }

  #content {
    @apply absolute inset-0 z-1 h-screen p-12 flex flex-col justify-between;
  }
}
