<dashboard-card
  id="upcoming-bills"
  [icon]="billsIcon"
  [isLoading]="false"
  title="Upcoming Bills"
  [iconSize]="iconSize()"
  wrapperClassName="px-2!"
  subtitle="Bills that are soon due."
>
  <div custom-content class="min-h-[250px] w-full">
    @if (isFetchingBills()) {
      <!-- <div class="dashboard-card-loader"></div> -->
       @for (i of [1, 2, 3]; track i) {
         <bill-item-skeleton />
       }
    } @else {
      <div>Content goes here</div>
    }
  </div>
</dashboard-card>
