@import 'tailwindcss';

@font-face {
  font-family: Geist Mono;
  src: url('./assets/fonts/geist_mono/GeistMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Geist Mono;
  src: url('./assets/fonts/geist_mono/GeistMono-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Geist Mono;
  src: url('./assets/fonts/geist_mono/GeistMono-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

:root {
  /* Base Colors */
  --color-primary: #e6ff2b;
  --color-secondary: #0b4650;
  --color-tertiary: #c6ff33;
  --color-quaternary: #fe7f2d;
  --color-transparent: transparent;

  /* State Colors */
  --color-success: #22c55d;
  --color-warning: #fbbf24;
  --color-danger: #fa2c05;

  /* Dark */
  --color-dark: #101011;
  --color-black: #000000;
  --color-gray1: #2b2b2c;
  --color-gray2: #606266;
  --color-mirage: #16232a;
  --color-dark-card-bg: #233d4d;
  --color-tertiary-dark: #898a8d;

  /* Light */
  --color-gray3: #a7a7a7;
  --color-gray4: #d9d9d9;
  --color-white: #ffffff;
  --color-wild-sand: #e4eef0;
  --color-light-card-bg: #e8d8c9;
  --color-tertiary-white: #f9f7f2;
  --color-alternate-white: #f0f2f6;

  /* Style Variables */
  --body-background: var(--color-white);
  --color-primaryText: var(--color-dark);
  --inverted-background: var(--color-dark);
  --color-invertedText: var(--color-white);
  --color-alternateText: var(--color-gray1);
  --alternate-background: var(--color-gray3);
  --color-muted-text: var(--color-gray2);

  --box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family:
    Geist Mono, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --color-body-background: var(--body-background);
  --color-alternate-background: var(--alternate-background);
  --color-inverted-background: var(--inverted-background);
  --color-primary-text: var(--color-primary-text);
  --color-alternate-text: var(--color-alternate-text);
  --color-inverted-text: var(--color-inverted-text);
  --color-muted-text: var(--color-muted-text);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --body-background: var(--color-white);
    --alternate-background: var(--color-alternate-white);
    --inverted-background: var(--color-dark);
    --color-primary-text: var(--color-dark);
    --color-inverted-text: var(--color-white);
    --color-alternate-text: var(--color-gray1);
    --color-muted-text: var(--color-gray2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --body-background: var(--color-dark);
    --alternate-background: var(--color-gray1);
    --inverted-background: var(--color-alternate-white);
    --color-primary-text: var(--color-white);
    --color-inverted-text: var(--color-black);
    --color-alternate-text: var(--color-gray4);
    --color-muted-text: var(--color-gray2);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  box-sizing: var(--box-sizing);
  font-family: var(--font-family);
  background-color: var(--body-background);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  position: relative;
}

@layer base {
  /* HEADER START */
  header {
    @apply w-full bg-(----electric-violet) inset-0 h-[8vh] flex items-center;
  }
  /* HEADER END */

  /* SECTION START */
  section {
    @apply w-full flex flex-col;
  }
  /* SECTION END */

  /* HEADINGS START */
  h1,
  h2 {
    @apply tracking-wider;
    margin: 0;
    font-weight: 600;
    line-height: 100%;
    font-size: 3.125rem;
  }

  h3,
  h4 {
    @apply tracking-wide;
    margin: 0;
    font-weight: 500;
    line-height: 80%;
    font-size: 2rem;
  }

  h5,
  h6 {
    @apply tracking-normal;
    margin: 0;
    font-weight: 500;
    line-height: 60%;
    font-size: 1.5rem;
  }
  /* HEADINGS END */

  p {
    color: var(--color-primary-text);
  }
}

@layer components {
}

@layer utilities {
}
