<div id="split-form-step-2">
  <div class="header">
    <div class="header-summary">
      <div
        (click)="onBackIconClick.emit()"
        class="group/back-icon hover:bg-muted-text p-1 rounded-lg cursor-pointer"
      >
        <lucide-angular
          name="back-arrow"
          [img]="leftArrow"
          [size]="iconSize"
          class="group-hover/back-icon:text-white text-inverted-text"
        />
      </div>
      <div class="flex flex-col text-sm">
        <p>Order Summary</p>
        <p class="italic text-xs text-muted-text!">
          <span class="text-primary!">{{ itemsCount() }}</span>
          {{ itemsCount() === 1 ? 'item' : 'items' }}
        </p>
      </div>
    </div>

    @let hasItems = itemsCount() > 0;
    <div class="header-totals">
      @if (hasItems) {
        <p>
          Subtotal: <span class="font-semibold">{{ formattedSubTotal() }}</span>
        </p>
      }
      <atom-button
        id="add-item"
        variant="primary"
        className="shadow-none"
        (clicked)="addNewSplittable()"
        [disabled]="isSubmittingSplittable()"
      >
        <div class="w-full h-full grid place-items-center">
          <lucide-icon name="add-member-icon" [img]="addItem" [size]="iconSize" />
        </div>
      </atom-button>
    </div>
  </div>

  <div class="content" [ngClass]="{ 'grid place-items-center': !hasItems }">
    @if (!hasItems) {
      <p class="text-muted-text! text-sm">No order items added yet!</p>
    } @else {
      <div class="splittables-container">
        @for (splittable of splittables(); track splittable.id) {
          <order-item [order]="splittable" (onDeleteClickEvent)="handleOnDeleteOrder($event)" />
        }
      </div>
    }
  </div>
</div>
