.dashboard-card-loader {
    width: 80px;
    aspect-ratio: 1;
    border: 8px solid;
    border-radius: 50%;
    animation: l1 1s infinite;
    border-color: var(--loader-primary) transparent;
}

.delete-loader,
.visibility-loader {
    width: 15px;
    aspect-ratio: 1;
    border: 2px solid;
    border-radius: 50%;
    animation: l1 1s infinite;
    border-color: var(--error) transparent;
}

.visibility-loader {
    border-color: var(--primary) transparent;
}

.icon-loader {
    width: 12px;
    aspect-ratio: 1;
    border: 2px solid;
    border-radius: 50%;
    animation: l1 1s infinite;
    border-color: var(--primary) transparent;
}

@keyframes l1 {
    to {
        transform: rotate(0.5turn);
    }
}

.blob-loader {
    width: 100px;
    display: grid;
    aspect-ratio: 1;
    box-sizing: border-box;
    background: transparent;
}

.blob-loader:before,
.blob-loader:after {
    content: '';
    width: 40px;
    height: 40px;
    grid-area: 1/1;
    filter: blur(2px);
    border-radius: 50%;
    mix-blend-mode: lighten;
    animation: l7 2s infinite;
    background: var(--loader-primary);
}

.blob-loader:after {
    animation-delay: -1s;
}

@keyframes l7 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(100%, 0);
    }

    50% {
        transform: translate(100%, 100%);
    }

    75% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.layered-loader {
    width: 70px;
    display: grid;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: l15 1s infinite linear;
    border-right-color: var(--loader-primary);
}

.layered-loader::before,
.layered-loader::after {
    content: '';
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.layered-loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn);
    }
}