<div class="date-picker-field" [ngClass]="wrapperClassName()">
  <label
    [for]="inputId()"
    [ngClass]="{ 'text-inverted-text': inverted(), 'text-primary-text': invertLabel() }"
  >
    @if (required()) {
      <span class="required">*</span>
    }
    {{ label() }}:
  </label>

  <div class="date-picker-wrapper">
    <input
      readonly
      type="text"
      [id]="inputId()"
      (click)="onInputClick()"
      [value]="formattedDate()"
      [ngClass]="inputClassName()"
      [placeholder]="placeholder()"
    />

    <div class="date-picker-icons">
      @if (fieldState().value() && showClearOutputIcon()) {
        <lucide-icon
          [img]="X"
          name="clear-date"
          [size]="iconSize + 3"
          (click)="onClear($event)"
          class="date-picker-icon clear-icon"
        />
      }
      <lucide-icon
        [size]="iconSize"
        name="calendar-toggle"
        (click)="toggleCalendar()"
        [img]="isCalendarOpen() ? X : CalendarIcon"
        class="date-picker-icon calendar-icon cursor-pointer!"
      />
    </div>

    @if (isCalendarOpen()) {
      <div class="calendar-dropdown" #calendarContainer (click)="onCalendarClick($event)">
        <ejs-calendar
          [min]="min()"
          [max]="max()"
          (blur)="closeCalendar()"
          [value]="selectedDateValue()"
          (change)="onDateSelect($event)"
        />
      </div>
    }
  </div>

  @if (fieldState().invalid() && fieldState().touched()) {
    <div class="date-picker-errors-wrapper">
      @for (error of fieldState().errors(); track error.kind) {
        <p class="date-picker-error">
          {{ error.message }}
        </p>
      }
    </div>
  }
</div>
