<div [id]="eventId()" class="flex flex-col gap-6">
    <!-- Event Details -->
    <div class="no-shadow-card py-4 px-6 flex flex-col gap-4">
        <div class="header flex flex-row gap-4 items-center justify-between">
            <!-- Left Side Content -->
            <div class="flex-1 flex flex-col gap-2">
                <p class="text-xl font-semibold">{{ splitrEvent().eventName }}</p>

                <div class="flex flex-row items-center gap-4 md:gap-6">
                    <div class="flex flex-row items-center gap-2">
                        <lucide-icon name="calendar" [img]="CalendarIcon" [size]="iconSize" />
                        <span class="text-muted-text text-xs">{{ formattedEventDate() }}</span>
                    </div>

                    <div class="flex flex-row items-center gap-2">
                        <lucide-icon name="users" [img]="Squads" [size]="iconSize" />
                        <span class="text-muted-text text-xs">{{ splitrEvent().squadName }}</span>
                    </div>
                </div>
            </div>

            <!-- Right Side Content -->
            <atom-badge variant="success" label="Settled" className="text-base! px-3!" />
        </div>

        <hr />

        <div class="flex flex-row items-center gap-2">
            <p class="text-sm text-muted-text">People:</p>

            @for (member of splitrEvent().eventMembers; track member) {
                <atom-badge variant="neutral" [label]="member" className="text-xs! px-3!" />
            }
        </div>
    </div>

    <!-- Payers -->
    <div class="section">
        <p class="section-title">Who Paid</p>

        <div class="flex flex-col gap-2">
            @for (payer of payers(); track payer.payerName) {
                <div class="flex flex-row items-center gap-4 w-full no-shadow-card p-4">
                    <div
                        class="rounded-full size-8 grid place-items-center"
                        [ngClass]="payer.avatar.bg"
                    >
                        <p class="font-semibold" [ngClass]="payer.avatar.fg">
                            {{ payer.payerName.charAt(0).toUpperCase() }}
                        </p>
                    </div>

                    <div class="flex-1 flex flex-col gap-1">
                        <p class="text-sm font-semibold">{{ payer.payerName }}</p>
                        <p class="text-xs text-muted-text">
                            Paid
                            <span class="font-bold text-primary"
                                >{{ payer.percentageContribution }}%</span
                            >
                            of the bill
                        </p>
                    </div>

                    <p class="text-sm font-bold">{{ payer.paidAmount }}</p>
                </div>
            }
        </div>
    </div>

    <!-- Ordered Items -->
    <div class="section">
        <p class="section-title">Items Ordered</p>

        <div class="flex flex-col gap-2">
            @for (orderedItem of orderedItems(); track orderedItem.id) {
                <div class="flex flex-col gap-3 w-full no-shadow-card p-4">
                    <div class="flex flex-row items-center gap-4">
                        <div class="flex-1 flex flex-col gap-1">
                            <p class="font-semibold">{{ orderedItem.orderName }}</p>
                            <p class="text-xs text-muted pl-1">
                                {{ orderedItem.orderQuantity }} x {{ orderedItem.unitPrice }}
                            </p>
                        </div>

                        <div class="flex-1 flex flex-col gap-1 items-end">
                            <p class="text-base font-bold">{{ orderedItem.orderTotal }}</p>
                            <atom-badge
                                variant="info"
                                className="px-2!"
                                [label]="orderedItem.splitStrategy.toUpperCase()"
                            />
                        </div>
                    </div>

                    <hr />

                    <div class="flex flex-row gap-2 flex-wrap">
                        @for (
                            individualSplit of orderedItem.orderQuantitySplits;
                            track individualSplit.id
                        ) {
                            @let consumerSummary =
                                orderedItem.strategyVariant !== 'QUANTITY'
                                    ? `${individualSplit.consumerName} - ${individualSplit.consumerTotal}`
                                    : `[${individualSplit.consumerQuantity}] ${individualSplit.consumerName} - ${individualSplit.consumerTotal}`;
                            <atom-badge
                                variant="neutral"
                                [label]="consumerSummary"
                                className="text-xs! px-3 py-1.5 whitespace-normal"
                            />
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Settlements -->
    <div class="section">
        <p class="section-title">Settlements</p>

        <div class="flex flex-col gap-2">
            @for (settlement of settlements(); track settlement.id) {
                <div class="flex flex-row items-center gap-4 w-full no-shadow-card p-4">
                    <div
                        class="rounded-full size-8 grid place-items-center"
                        [ngClass]="settlement.fromParticipantAvatar.bg"
                    >
                        <p class="font-semibold" [ngClass]="settlement.fromParticipantAvatar.fg">
                            {{ settlement.fromParticipant.charAt(0).toUpperCase() }}
                        </p>
                    </div>

                    <div class="flex-1 flex flex-col gap-1">
                        <p class="text-sm font-semibold">{{ settlement.fromParticipant }}</p>
                        <p class="text-xs text-muted-text">
                            To pay
                            <span class="font-bold text-primary"
                                >{{ settlement.settlementAmount }}</span
                            >
                            to {{ settlement.toParticipant }}
                        </p>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
