<section [id]="accountId()">
  <div
    class="container"
    [routerLink]="['/accounts', id()]"
    (mouseleave)="isDeleting() ? null : isOptionsOpen.set(false)"
  >
    <div class="card">
      <div class="header">
        <img
          [ngSrc]="logoUrl"
          alt="Account Card Logo"
          class="invert dark:invert-0"
          [width]="imageDimensions.width"
          [height]="imageDimensions.height"
          [ngClass]="{
            'invert-0!': themeService.theme() === 'DARK',
            'invert-100!': themeService.theme() === 'LIGHT',
          }"
        />
        <lucide-icon name="nfc" [img]="NFC" [size]="22" />
      </div>

      <div class="card-details">
        @if (isLoading()) {
          <div class="skeleton w-2/3 h-10"></div>
        } @else {
          <div class="balance">
            <span class="currency">{{ currency }}</span>
            <span class="value">{{ formattedBalance() }}</span>
          </div>
        }

        <div class="identity">
          <div class="account-name">
            @if (isLoading()) {
              <div class="skeleton size-4"></div>
              <div class="">
                <div class="skeleton w-30 h-4"></div>
                <div class="skeleton w-15 h-3 mt-1"></div>
              </div>
            } @else {
              <lucide-icon name="identity-icon" [img]="IdentityIcon" [size]="12" class="mt-0.5" />
              <div class="flex flex-col">
                <p class="capitalize text-sm">{{ name() }}</p>
                <p class="text-[10px] text-muted-text">{{ type() }}</p>
              </div>
            }
          </div>

          <div class="card-options">
            @if (isLoading()) {
              <div class="skeleton size-5"></div>
            } @else {
              <lucide-icon
                [size]="16"
                name="options"
                [img]="Options"
                (click)="toggleOptions($event)"
              />
            }

            <!-- Card Options Drop Down -->
            @if (isOptionsOpen()) {
              <div class="dropdown" (click)="deleteAccount()">
                <div class="pointer"></div>

                @if (isDeleting()) {
                  <div class="loader"></div>
                } @else {
                  <lucide-icon name="delete" [img]="Trash" [size]="16" class="delete" />
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
