<div class="select-field">
  <label [ngClass]="{ 'text-inverted-text': inverted() }" [for]="selectId()">
    {{ label() }}:
  </label>

  <div class="select-wrapper" [ngClass]="sizeClasses()">
    <select [id]="selectId()" [formField]="formField()" class="select-input">
      @if (placeholder()) {
        <option value="" disabled selected>{{ placeholder() }}</option>
      }
      @for (option of options(); track option.value) {
        <option [value]="option.value" [disabled]="option.disabled">
          {{ option.label }}
        </option>
      }
    </select>

    <div class="select-icon-wrapper">
      <lucide-icon
        [img]="ChevronDown"
        [size]="iconSize"
        name="select-chevron"
        class="select-icon"
      />
    </div>
  </div>

  @if (formField()().invalid() && formField()().touched()) {
    <div class="select-field-errors-wrapper">
      @for (error of formField()().errors(); track error.kind) {
        <p class="select-field-error">
          {{ error.message }}
        </p>
      }
    </div>
  }
</div>
