<div class="select-field" [ngClass]="wrapperClassName()">
  <label [ngClass]="{ 'text-inverted-text': inverted() }" [for]="selectId()">
    @if (required()) {
      <span class="required">*</span>
    }
    {{ label() }}:
  </label>

  <div class="select-wrapper">
    <select [formField]="formField()" [id]="selectId()" [ngClass]="selectClassName()">
      @if (placeholder()) {
        <option value="" disabled [selected]="!currentValue()">{{ placeholder() }}</option>
      }
      @for (option of formattedOptions(); track option.value) {
        <option
          [value]="option.value"
          [disabled]="option.disabled"
          [selected]="isOptionSelected(option)"
        >
          {{ option.label }}
          @if (option.descriptor) {
            <span class="text-primary text-sm"> - {{ option.descriptor }}</span>
          }
        </option>
      }
    </select>

    <div class="select-dropdown-wrapper">
      <lucide-icon
        [size]="iconSize"
        [img]="ChevronDown"
        class="select-icon"
        [ngClass]="{ 'text-inverted-text': invertedIcon() }"
        name="select-chevron"
      />
    </div>
  </div>

  @if (formField()().invalid() && formField()().touched()) {
    <div class="input-field-errors-wrapper">
      @for (error of formField()().errors(); track error.kind) {
        <p class="input-field-error">
          {{ error.message }}
        </p>
      }
    </div>
  }
</div>
