@reference 'tailwindcss';

.toast {
  width: 360px;
  cursor: default;
  overflow: hidden;
  border-radius: 12px;
  will-change: transform;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.content {
  gap: 2rem;
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  gap: 4px;
  display: flex;
  cursor: default;
  flex-direction: column;
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
}

.message {
  @apply p-1;
  opacity: 0.8;
  font-size: 0.8rem;
}

.close {
  opacity: 0.7;
  cursor: pointer;
}

.progress {
  height: 3px;
  background: #22c55e;
  width: 100%;
  transform-origin: left;
  animation-name: shrink;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.progress.paused {
  animation-play-state: paused;
}

@keyframes shrink {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
