<section id="transactions-page" class="page">
  <div class="page-header">
    <h1 class="page-title">Transactions</h1>

    <atom-button id="add-transaction" variant="primary" (clicked)="handleOpenForm()">
      <div class="w-full flex flex-row items-center justify-between gap-4">
        <lucide-icon name="create-transaction" [img]="Plus" [size]="iconSize"></lucide-icon>
        <span class="hidden sm:block">Log Transaction</span>
      </div>
    </atom-button>
  </div>

  @if (isFetching()) {
    <div class="page-container flex-1">
      <div class="skeleton w-1/4 h-5 mb-6"></div>

      <organism-table [isLoading]="true" [data]="skeletonData" [columns]="transactionColumns" />
    </div>
  } @else {
    @let response = transactions.value()?.data;
    @let count = response?.count;
    <div
      class="page-container flex-1"
      [ngClass]="{ 'grid place-items-center': count === 0 || transactions.error() }"
    >
      @if (transactions.error()) {
        <fetch-error message="Failed to retrieve your transactions" />
      } @else if (count === 0) {
        <no-data message="No transactions found!" />
      } @else {
        <div>
          <p class="mb-6">
            You have <span class="font-semibold text-primary">{{ count }}</span>
            {{ count! > 1 ? 'total transactions' : 'transaction' }}!
          </p>

          <div class="mb-6">
            <atom-tab-list
              [items]="tabListItems"
              [activeItem]="activeTabIndex()"
              (selectedIndex)="onTabSelected($event)"
            />
          </div>

          <organism-table
            [isLoading]="isFetching()"
            [columns]="transactionColumns"
            [data]="formattedTransactions()"
            (deleteRow)="deleteDataRow($event)"
            emptyMessage="You have no transactions yet!"
          />
        </div>
      }
    </div>
  }
</section>

@if (isFormOpen()) {
  <organism-form
    id="transactions"
    title="Log Transaction"
    [class.hidden]="!isFormOpen()"
    description="Record a new transaction"
    (closeForm)="handleCloseForm($event)"
  >
    @let categories = transactionCategories();
    @let types = transactionTypes.value()?.data;
    <form slot="content" id="transactions-form" (submit)="submitTransactionForm($event)">
      <atom-input
        id="name"
        type="number"
        label="Amount"
        [inverted]="true"
        autocomplete="off"
        [numberStep]="0.01"
        placeholder="Eg: 100"
        [formField]="transactionForm.amount"
        (clearOutput)="transactionForm.amount().controlValue.set(null)"
      />

      <atom-input
        type="text"
        id="description"
        [inverted]="true"
        [required]="false"
        autocomplete="off"
        label="Description"
        placeholder="Eg: Dinner with friends"
        [formField]="transactionForm.description"
        (clearOutput)="transactionForm.description().controlValue.set('')"
      />

      <div class="flex flex-col sm:flex-row gap-0 sm:gap-4">
        <atom-select
          id="type"
          class="flex-1"
          [inverted]="true"
          wrapperClassName="my-0"
          label="Transaction Type"
          placeholder="Select a type"
          [formField]="transactionForm.type"
          [options]="types || [{ value: '', label: 'No transaction types found' }]"
        />

        <atom-select
          class="flex-1"
          id="categories"
          [inverted]="true"
          wrapperClassName="my-0"
          label="Transaction Category"
          placeholder="Select a category"
          [formField]="transactionForm.category"
          [options]="categories || [{ value: '', label: 'No transaction categories found' }]"
        />
      </div>

      <atom-select
        id="account"
        [inverted]="true"
        label="Associated Account"
        [formField]="transactionForm.accountId"
        placeholder="Select one account"
        [options]="accountsDropdown() || [{ value: '', label: 'You have no accounts yet' }]"
      />
    </form>

    <div class="w-full flex flex-row items-center justify-end gap-4" slot="footer">
      <atom-button
        type="button"
        [inverted]="true"
        label="Reset Form"
        variant="secondary"
        form="transactions-form"
        id="reset-transaction-form"
        (clicked)="resetTransactionForm()"
        [disabled]="!transactionForm().dirty() || isSubmitting()"
      />

      <atom-button
        type="submit"
        form="transactions-form"
        label="Create Transaction"
        id="submit-transaction-form"
        [isLoading]="isSubmitting()"
        [disabled]="transactionForm().invalid() || isSubmitting()"
      />
    </div>
  </organism-form>
}
