<div [id]="cardId()" class="group dashboard-card" [ngClass]="wrapperClassName()">
  <div class="header" [ngClass]="{ 'px-4!': !!wrapperClassName() }">
    <p class="title">{{ title() }}</p>

    <lucide-icon
      [name]="id()"
      [img]="icon()"
      [size]="iconSize()"
      [class]="iconClassName()"
      class="group-hover:text-primary"
    />
  </div>

  <div class="body">
    @if (isLoading()) {
      <div class="skeleton w-3/5 h-8 group-hover:scale-100"></div>
    } @else {
      @if (value()) {
        <h2 class="value">{{ value() }}</h2>
      }
      <ng-content select="[custom-content]"></ng-content>
    }
  </div>

  <div class="footer" [ngClass]="{ 'px-4!': !!wrapperClassName() }">
    <p class="subtitle">{{ subtitle() }}</p>
  </div>
</div>
