<section id="account-details-page" class="page">
  <div class="page-header">
    <h1 class="page-title">Account Details</h1>
  </div>

  @let resource = resourceData();
  <div
    class="page-container flex-1 flex flex-col space-y-4"
    [ngClass]="{ 'grid! place-items-center!': hasError() || !resource }"
  >
    @if (!hasError() && resource) {
      <breadcrumbs
        [icon]="breadcrumbIcon"
        [isLoading]="isLoadingResources()"
        [breadcrumbItems]="breadcrumbItems()"
      />
    }

    @if (hasError() || !resource) {
      <fetch-error message="Error loading account" />
    } @else {
      <div class="account-details-content">
        <div class="w-full md:flex-1">
          <account-card
            [id]="resource.account.id"
            [account]="resource.account"
            [isLoading]="isLoadingResources()"
          />
        </div>
        <div class="w-full md:flex-4">Right</div>
      </div>
    }
  </div>
</section>
