<section id="account-details-page" class="page">
  <div class="page-header">
    <h1 class="page-title">Account Details</h1>
  </div>

  @let resource = resourceData();
  <div
    class="page-container flex-1 flex flex-col space-y-6"
    [ngClass]="{ 'grid! place-items-center!': hasError() || !resource }"
  >
    @if (!hasError() && resource) {
      <breadcrumbs
        [icon]="breadcrumbIcon"
        [isLoading]="isLoadingResources()"
        [breadcrumbItems]="breadcrumbItems()"
      />
    }

    @if (isLoadingResources()) {
      <div class="h-full grid place-items-center">
        <div class="dashboard-card-loader"></div>
      </div>
    } @else {
      @if (hasError()) {
        <fetch-error message="Error loading account" />
      } @else {
        @if (!resource) {
          <no-data message="No account data available" />
        } @else {
          <div class="h-full flex flex-col md:flex-row gap-6">
            <account-details
              [account]="resource.account"
              [transactionCount]="resource.count"
              class="w-full md:flex-2 lg:flex-2 xl:flex-1"
              [ngClass]="{ 'md:flex-2! xl:flex-1!': !drawerService.isDrawerCollapsed() }"
            />

            <account-transactions
              [transactions]="resource.transactions"
              class="w-full md:flex-4 lg:flex-3 xl:flex-4"
              [ngClass]="{ 'md:flex-3! xl:flex-3!': !drawerService.isDrawerCollapsed() }"
            />
          </div>
        }
      }
    }
  </div>
</section>
