<section id="dashboard" class="page">
  <div class="page-header">
    <h1 class="page-title">Dashboard</h1>
  </div>

  <div class="page-container flex-1">
    <div class="grid pb-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Accounts -->
      <dashboard-card
        id="accounts"
        title="Accounts"
        [icon]="walletIcon"
        [value]="accountsCount()"
        subtitle="Active accounts"
        [isLoading]="isDataLoading()"
      />

      <!-- Transactions -->
      <dashboard-card
        id="transactions"
        title="Transactions"
        [icon]="transactionIcon"
        [value]="transactionsCount()"
        subtitle="Recent transactions"
        [isLoading]="isDataLoading()"
      />

      <!-- Net Cash Flow -->
      <dashboard-card
        id="net-cash-flow"
        title="Net Cash Flow"
        [icon]="handCoinsIcon"
        [value]="netCashFlow()"
        [isLoading]="isDataLoading()"
        subtitle="Moved around this month"
      />

      <!-- Incomes -->
      <dashboard-card
        id="incomes"
        title="Revenue"
        [icon]="incomeIcon"
        [isLoading]="isDataLoading()"
        subtitle="Total revenue this month"
        [value]="formatCurrency(totalRevenue().toString())"
      />

      <!-- Expenses -->
      <dashboard-card
        id="expenses"
        title="Expenses"
        [icon]="expenseIcon"
        [isLoading]="isDataLoading()"
        subtitle="Total expenses this month"
        [value]="formatCurrency(totalExpenses().toString())"
      />

      <!-- Spending Limits -->
      <dashboard-card
        id="spending-limits"
        title="Spending Limit"
        [icon]="spendingLimitIcon"
        [isLoading]="isDataLoading()"
        subtitle="Your monthly spending limit"
      >
        <div custom-content class="w-full grid place-items-center">
          @if (isDataLoading()) {
            <div class="loader"></div>
          } @else {
            <atom-progress-bar [maxValue]="maximumSpendingLimit()" [currentValue]="60" />
          }
        </div>
      </dashboard-card>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Ratio Card -->
      <dashboard-card
        id="ratio"
        class="col-span-1"
        [icon]="ratioIcon"
        [isLoading]="false"
        title="Spending Ratio"
        subtitle="Your expenses vs revenue"
      >
        <div custom-content class="min-h-[150px] w-full grid place-items-center">
          @if (isDataLoading()) {
            <div class="loader"></div>
          } @else {
            <div class="flex flex-row md:flex-col items-center gap-6 md:gap-0">
              <atom-ratio-slider [value]="90" [size]="150" />

              <div class="legend">
                <div class="legend-item justify-start">
                  <span class="bg-[#b829dd]"></span>
                  <p>Balance</p>
                </div>

                <div class="legend-item justify-end">
                  <span class="bg-[#00d4ff]"></span>
                  <p>Expenses</p>
                </div>
              </div>
            </div>
          }
        </div>
      </dashboard-card>
    </div>
  </div>
</section>
