<section id="dashboard" class="page">
  <div class="page-header">
    <h1 class="page-title">Dashboard</h1>
  </div>

  <div class="page-container flex-1">
    <div class="grid pb-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Accounts -->
      <dashboard-card
        id="accounts"
        title="Accounts"
        [icon]="walletIcon"
        [value]="accountsCount()"
        subtitle="Active accounts"
        [isLoading]="isDataLoading()"
      />

      <!-- Transactions -->
      <dashboard-card
        id="transactions"
        title="Transactions"
        [icon]="transactionIcon"
        [value]="transactionsCount()"
        subtitle="Transactions made this month"
        [isLoading]="isDataLoading()"
      />

      <!-- Net Cash Flow -->
      <dashboard-card
        id="net-cash-flow"
        title="Net Cash Flow"
        [icon]="handCoinsIcon"
        [isLoading]="isDataLoading()"
        [value]="formattedNetCashFlow()"
        subtitle="Total transacted this month"
      />

      <!-- Incomes -->
      <dashboard-card
        id="incomes"
        title="Incomes"
        [icon]="incomeIcon"
        [isLoading]="isDataLoading()"
        subtitle="Total revenue this month"
        [value]="formatCurrency(totalRevenue().toString())"
      />

      <!-- Expenses -->
      <dashboard-card
        id="expenses"
        title="Expenses"
        [icon]="expenseIcon"
        [isLoading]="isDataLoading()"
        subtitle="Total expenses this month"
        [value]="formatCurrency(totalExpenses().toString())"
      />

      <!-- Spending Limits -->
      <dashboard-card
        id="spending-limits"
        title="Spending Limit"
        [icon]="spendingLimitIcon"
        [isLoading]="isDataLoading()"
        subtitle="Your monthly spending limit"
        [iconClassName]="totalExpenses() > maximumSpendingLimit() ? 'group-hover:text-error!' : ''"
      >
        <div custom-content class="w-full grid place-items-center">
          @if (isDataLoading()) {
            <div class="loader"></div>
          } @else {
            <atom-progress-bar
              [currentValue]="totalExpenses()"
              [maxValue]="maximumSpendingLimit()"
              (editClick)="onEditSpendingLimit()"
            />
          }
        </div>
      </dashboard-card>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Ratio Card -->
      <dashboard-card
        id="ratio"
        class="col-span-1"
        [icon]="ratioIcon"
        [isLoading]="false"
        title="Spending Ratio"
        subtitle="Your monthly spending so far."
      >
        <div custom-content class="min-h-[150px] w-full grid place-items-center">
          @if (isDataLoading()) {
            <div class="ratio-loader"></div>
          } @else {
            <div class="flex flex-row md:flex-col items-center gap-6 md:gap-0">
              <atom-ratio-slider [value]="spendingRatio()" />

              <div class="legend">
                <div class="legend-item justify-start">
                  <span class="bg-[#b829dd]"></span>
                  <p>Incomes</p>
                </div>

                <div class="legend-item justify-end">
                  <span class="bg-[#00d4ff]"></span>
                  <p>Expenses</p>
                </div>
              </div>
            </div>
          }
        </div>
      </dashboard-card>

      <!-- Analysis Card -->
      <dashboard-card
        id="analysis"
        [icon]="ratioIcon"
        [isLoading]="false"
        title="Spending Analysis"
        class="col-span-1 md:col-span-2"
        subtitle="Your monthly spending analysis"
      >
        <div custom-content class="min-h-[350px] w-full grid place-items-center">
          @if (isDataLoading()) {
            <div class="analysis-loader"></div>
          } @else {
            <widget-cost-analysis
              [currentMonth]="currentMonth()"
              (monthChange)="onMonthChange($event)"
              [totalMonthlySpending]="totalExpenses()"
            />
          }
        </div>
      </dashboard-card>
    </div>
  </div>
</section>

@if (isEditSpendingLimitFormOpen()) {
  <organism-form
    id="transactions"
    title="Update your limit"
    description="Modify your monthly spending limit"
    (closeForm)="handleCloseForm($event)"
    [class.hidden]="!isEditSpendingLimitFormOpen()"
  >
    <form slot="content" id="spending-limit-form" (submit)="submitEditLimitForm($event)">
      <atom-input
        id="limit"
        type="number"
        [inverted]="true"
        autocomplete="name"
        placeholder="Eg: 100"
        label="Transaction Amount"
        [formField]="editLimitForm.amount"
        (clearOutput)="editLimitForm.amount().controlValue.set(0)"
      />
    </form>

    <div class="w-full flex flex-row items-center justify-end gap-4" slot="footer">
      <atom-button
        type="reset"
        [inverted]="true"
        label="Reset Limit"
        variant="secondary"
        form="spending-limit-form"
        id="reset-spending-limit-form"
        (clicked)="resetEditLimitForm()"
        [disabled]="!editLimitForm().dirty() || isSubmittingEditLimitForm()"
      />

      <atom-button
        type="submit"
        label="Update Limit"
        form="spending-limit-form"
        id="submit-spending-limit-form"
        [isLoading]="isSubmittingEditLimitForm()"
        [disabled]="editLimitForm().invalid() || isSubmittingEditLimitForm()"
      />
    </div>
  </organism-form>
}
