@reference 'tailwindcss';

.masonry {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.legend {
  @apply flex-1 flex flex-col md:flex-row gap-4 text-xs items-start justify-between;

  .legend-item {
    @apply flex-1 flex flex-row items-center gap-1 md:gap-2;

    span {
      @apply size-2 rounded-full;
    }

    p {
      @apply text-(--text-secondary);
    }
  }
}

.ratio-loader,
.analysis-loader {
  width: 75px;
  aspect-ratio: 1;
  border: 6px solid;
  border-radius: 50%;
  animation: l1 1s infinite;
  border-color: var(--loader-primary) transparent;
}

.analysis-loader {
  width: 100px;
  aspect-ratio: 1;
  border: 8px solid;
  border-radius: 50%;
  animation: l1 1s infinite;
  border-color: var(--loader-primary) transparent;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
